.editDepartmentsPage {
    padding: 20px;
    
    .titleButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .departmentInfo {
            
            h1 {
                font-size: 2rem;

                font-weight: 600;
                line-height: 2.5rem;
                color: #5a5a66;
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            gap: 10px;
      
            button {
              flex: 1;
            }
          }
    }    
    
    .employeesList {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        
        h2 {
            margin-bottom: 2rem;
            font-size: 1.5rem;

            font-weight: 600;
            line-height: 2.5rem;
            color: #5a5a66;
        }
        
        table {
            width: 80%;
            border-collapse: collapse;
            text-align: left;
    
            th, td {
                padding: 1rem;
                border: 1px solid #ddd;
            }
    
            th {
                background-color: #f2f2f2;
                text-align: center;
            }

            .actions {
                display: flex;
                justify-content: space-around;

                svg {
                    cursor: pointer;

                    &:hover {
                        filter: brightness(0.8);
                    }
                }
            }
        }
    }
}
